body{
  background-color: #000;
}

#content{
  margin-left: auto;
  margin-right:auto;
  padding-top: 20px;
  min-height: 100%!important;

  background: rgba(0,0,0,0.5)!important;
  backdrop-filter: blur(5px);
}

@media (min-width: 801px) {
  #content{
    width: 70%;
  }
}

.contentCode{
  /* background-color: #000; */
  border: none;
  color: forestgreen;
  font-family: 'Inconsolata', monospace;
  font-size: 12px;
}

.personalData{
  /* background-color: #000; */
  border: none;
  color: forestgreen;
  font-family: 'Inconsolata', monospace;
  font-size: 12px;
}

.textCommand{
  background-color: rgba(0,0,0,0);
  border: none;
  color: forestgreen;
  font-family: 'Inconsolata', monospace;
  font-size: 13px;
  width: 98%;
  backdrop-filter: blur(5px);
}

.textCommand:focus{
  outline: none;
}


.terminal{
  overflow-y: auto;
}

.labelCode{
  width: 2%;
  color: forestgreen;
  font-family: 'Inconsolata', monospace;
  font-size: 13px;
}

h2{
  font-size:14px;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
}

h1{
  font-size:16px;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
}


.loader {
  width: 100px;
  height: 80px;
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  margin: auto;
}
.loader .image {
  width: 100px;
  height: 160px;
  font-size: 40px;
  text-align: center;
  transform-origin: bottom center;
  animation: 3s rotate infinite;
  /* opacity: 0; */
}
.loader span {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  color: white;
}
